.Logo {
    background-image: url('../../images/cbm.png');
    background-size: cover;
    height: 150px;
    vertical-align: middle;
    width: 150px;
    margin-right: auto;
    margin-left: auto;
}